#news{
    position: relative;
    display: inline-block;
    font-family: Typewriter;
    font-size: 15px;
    white-space: nowrap;
    font-weight: bold
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
    width: 75%;
    overflow: hidden;
    margin: auto;
    text-align: left
}
